---
import Footer from '@/components/blogs/Footer';
import { Link } from '@/components/blogs/Link';
import Navbar from '@/components/blogs/Navbar';
import {
	BaseList,
	BaseText,
	Heading1,
	Heading2,
	Heading3,
	NumberList,
} from '@/components/blogs/Text';
import Layout from '@/layouts/Layout.astro';
import { getNotes } from '@/lib/utils';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getNotes();

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

type Props = {
	post: CollectionEntry<'note'>;
};

const {
	post,
	post: {
		data: { title, description },
	},
} = Astro.props;
const { Content } = await post.render();

const notes = await getNotes();
const randomBlog = notes.filter((blog) => blog.id !== post.id)[
	Math.floor(Math.random() * (notes.length - 1))
];
---

<Layout 
	title={post.data.title}
	description={post.data.description}
	article={false}
>
	<main class="flex flex-col h-screen items-center">
		<Navbar />
		<div class="flex justify-start flex-col h-full w-10/12 sm:w-1/2 gap-4">
			<Link href="/">← back</Link>
			<div class="flex flex-col tracking-tighter">
				<Content
					components={{
						a: Link,
						p: BaseText,
						h1: Heading1,
						h2: Heading2,
						h3: Heading3,
						ol: NumberList,
						ul: BaseList,
					}}
				/>
			</div>
			<Footer>
				Thanks for reading! Want to read more like this? Read <Link
					href={randomBlog.slug}>{randomBlog.data.title}</Link
				>
			</Footer>
		</div>
	</main>
</Layout>
